@model FNT_DataModel.tipoDocumento

@{
    ViewBag.Title = "Borrar";
}
<div style="height:15px;"></div>
<h4>TIPO DOCUMENTO > BORRAR</h4>
<hr style="border: 0;opacity: 0.8;height: 2px;background: #007bff;display: block;margin: 1em 0;" />

<div>

    <div class="row">
        <div class="col-md-2">
            Descripción
        </div>

        <div class="col-md-2">
            @Html.DisplayFor(model => model.tipoDocumentoDescripcion)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Estado
        </div>

        <div class="col-md-2">
            @Html.DisplayFor(model => model.estado)
        </div>



    </div>
    <hr style="border: 0;opacity: 0.8;height: 2px;background: #007bff;display: block;margin: 1em 0;" />

</div>

@*<div>

    <div class="dl-horizontal">
        <div>
            DESCRIPCION
        </div>

        <div>
            @Html.DisplayFor(model => model.tipoDocumentoDescripcion)
        </div>

        <div>
            ESTADO
        </div>

        <div>
            @Html.DisplayFor(model => model.estado)
        </div>



    </div>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" />  
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }

