@model FNT_DataModel.categoria

@{
    ViewBag.Title = "Edit";

    List<FNT_BusinessEntities.Interface.DTOVentasConsulta> ListaEstado = new List<FNT_BusinessEntities.Interface.DTOVentasConsulta>();
    FNT_BusinessEntities.Interface.DTOVentasConsulta oEstado = new FNT_BusinessEntities.Interface.DTOVentasConsulta();

    oEstado.ValorConsulta = "HABILITAR";
    oEstado.Estado = 1;
    ListaEstado.Add(oEstado);

    oEstado = new FNT_BusinessEntities.Interface.DTOVentasConsulta();
    oEstado.ValorConsulta = "DESHABILITAR";
    oEstado.Estado = 0;
    ListaEstado.Add(oEstado);
}
 <div style="height:15px;"></div>

<h4>CATEGORIA > EDITAR</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>tipoDocumento</h4>*@
        <hr style="border: 0;opacity: 0.8;height: 2px;background: #007bff;display: block;margin: 1em 0;" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.descripcion)

        <div class="row">
             <label class="control-label col-md-2">Descripción</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <label class="control-label col-md-2">Estado</label>
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("estado", new SelectList((System.Collections.IEnumerable)ListaEstado.Select(o => new { o.Estado, o.ValorConsulta }), "Estado", "ValorConsulta", ListaEstado[0].Estado), "::: Seleccione :::", new { @class = "selectpicker control-combo", id = "estado", @data_live_search = "true", @data_size = "7", onChange = "" })
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <hr style="border: 0;opacity: 0.8;height: 2px;background: #007bff;display: block;margin: 1em 0;" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />

                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
