@model List<FNT_BusinessEntities.Interface.DTOCliente>
@{
    Layout = null;
}
@if (Model.Count > 0)
{
    <div class="row">
        <div class="col-md-12" style="text-align:right;">
            <a class="btn btn-primary" href="@Url.Action("ExportaExcelCliente", "Cliente")">Exportar a Excel</a>
        </div>
    </div>
    <div style="height:10px;"></div>
}
@if (Model.Count <= 1500)
{
    <div class="row" style="font-size:11px;">
        <div class="col-md-12">
            <table id="TablaCliente" class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th>COD CLIENTE</th>
                        <th>CLIENTE</th>
                        <th>TIPO DOC.</th>
                        <th>NRO. DOC.</th>
                        <th>TELEFONO</th>
                        <th>ESTADO</th>
                        <th>ACCIÓN</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var objCliente = item;
                        var Cliente = Newtonsoft.Json.JsonConvert.SerializeObject(objCliente, Newtonsoft.Json.Formatting.Indented);
                        var Estado = item.EstadoCliente == 1 ? "HABILITADO" : "DESHABILITADO";

                        <tr>
                            <td>@item.IdCliente</td>
                            <td>@(item.Nombre + " " + item.ApePaterno + " " + item.ApeMaterno)</td>
                            <td>@item.TipoDocumento</td>
                            <td>@item.NroDocumento</td>
                            <td>@item.Telefono</td>
                            <td>@Estado</td>
                            @*<td>@(((DateTime)item.FechaCreacion).ToString("dd/MM/yyyy"))</td>*@
                            <td>
                                <input type="button" class="btn btn-warning btn-sm" value="Detalle" onclick="VerDetalleCliente(@Cliente);" />
                                <input type="button" class="btn btn-success btn-sm" value="Editar" onclick="EditarCliente(@Cliente);" />


                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="row" style="font-size:11px;">
        <div class="col-md-12">
            <span class="text-danger">La consulta contiene más de 1,500 registros, debe descargar formato Excel para su verificación.</span>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {

        $('#TablaCliente').DataTable({
            "scrollX": true,

            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando del _START_ al _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando del 0 al 0 de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "order": []
        });
    });

</script>
